{% extends "base.html" %}
{% include "meesages.html" %}

<head>
<title>
{% block head_title %}
Post | {{instance.title}}

{% endblock head_title %}
</title>
</head>

<body>

{% block content %}



	 <h1>{{instance.title}}</h1>
	 {{instance.id}}<br>
	 <b>{{instance.title}}</b><br>
	 {{instance.content}}<br>
	 {{instance.timestamp}}<br>
	 <br>
	 <br>
    <button type="button"><a href="{{instance.get_delete_url}}"> Delete Post</a></button>
     <br>
     <br>
	 <a href="{{instance.get_another_url}}"> Back To Home </a>
	
{% endblock %}
</body>

